<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_machine_learning/blob/main/day_11/02_cars_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Tree Assignment

#### Deleverables
- EDA 
    - Tell / show me about your data
    - Etc...
- Data prep / wrangling
    - pick & prep your features
    - [train_test_split()](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)
    - Etc...
- Model
    - Import and make a [DecisionTreeClassifier()](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html)
    - Bonus: [GridSearchCV()](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) or [RandomizedSearchCV()](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html)
    - Bonus: [RandomForestClassifier()](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)
        - Explain what's going on..
- Score your model
    - Accuracy
    - Confusion matrix
    - Etc...
- Display your decision tree with [plot_tree()](https://scikit-learn.org/stable/modules/generated/sklearn.tree.plot_tree.html) (or similar)
    - Explain your tree
    - Etc...

In [ ]:
%%capture
!pip install category-encoders
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import category_encoders as ce

[Data Source](https://archive.ics.uci.edu/ml/datasets/car+evaluation)

In [ ]:
# Run to see Data Dictionary
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.names

In [ ]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data", 
                 names=["price", "maint", "doors", "persons", "lug_boot", "safety"],).reset_index().drop("safety", axis=1)

df.columns = ["price", "maint", "doors", "persons", "lug_boot", "safety"]
df.head()

   price  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [ ]:
# Ordinally Encoded DF if needed
encoder = ce.OrdinalEncoder()
df_encode = encoder.fit_transform(df)
df_encode.head()

   price  maint  doors  persons  lug_boot  safety
0      1      1      1        1         1       1
1      1      1      1        1         1       2
2      1      1      1        1         1       3
3      1      1      1        1         2       1
4      1      1      1        1         2       2